.page-content{
    background-color: #fff;
}
.about{
    padding: 2rem 4rem 2rem 4rem;
}
.title{
    font-size: 30px;
}
.about-general h1{
    font-size: 24px;
}
.title{
    color: #6D4C41;
    font-weight: 600;
    font-size: 24px;
}
.about-general .about-residents{
    display: grid;
    line-height: 2;
    grid-template-columns: auto auto;
}
.about-general .about-purpose img{
    width: 100%;
}
.about-general .about-officials img{
    text-align: center;
    width: 100%;
}
.about-officials{
    display: grid;
    grid-template-columns: auto auto;
    line-height: 2;
}
.numbers{
    border-radius: 50%;
    background-color: #F2613F;
    padding: 5px;
    color: white;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;         
    height: 50px;      /* Circle width */
}

@media(max-width: 375px) and (max-height: 667px){
    .page-content{
        padding: 0px;
    }
    .about{
        padding: 20px;
    }
    img{
        display: none;
    }
}
@media(max-width: 1000px){
    .about-image{
        display: none;
    }
    .about{
        padding: 10px;
    }
    .numbers{
        width: 25px;
        height: 25px;
        padding: 10px;
    }
}