td, th{
    font-size: 14px;
    font-weight: 400;
}
.btn{
    border-radius: 0px;
}
.table-header{
    position: relative;
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 25px;
    z-index: 1;
    font-size: 14px;
}
.table-container table {
    font-size: 0.85rem;
    font-size: 14px;
}
.table-container th, .table-container td {
    font-size: 14px;
    padding: 0.8rem;
}
label{
    font-size: 14px;
}
.official{
    font-size: 14px;
    box-shadow: rgba(56, 107, 192, 0.3) 0px 8px 9px -4px, rgba(56, 107, 192, 0.2) 0px 4px 18px 0px;
}
.table-header .add-btn{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

table {

    border-collapse: collapse;
    overflow-x: scroll;
}
.table-container{
    overflow-x: auto; 
    overflow-y: hidden;
    white-space: nowrap; 
    position: relative;
    padding: 25px;
    margin-bottom: 25px;
    background-color: white;
    box-shadow: rgba(56, 107, 192, 0.3) 0px 8px 9px -4px, rgba(56, 107, 192, 0.2) 0px 4px 18px 0px;
}
td div, .page-link{
    color: black;
    font-size: 14px;
}
.row.mt-2.justify-content-between{
    position: relative;
}
.image{
    width: 50px;
    height: 50px;
}
.dt-scroll-head{
    display: none;
}