*{
    font-size: 14px;
}
.table-header{
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    font-size: 14px;
    display: flex;
    position: relative;
    width: 100%;
}
.breadcrumb a{
    text-decoration: none;
}
.title:focus{
    border: #0070FF;
}
.table-container{
    white-space: nowrap; 
    position: relative;
    padding: 25px;
    box-shadow: rgba(56, 107, 192, 0.3) 0px 8px 9px -4px, rgba(56, 107, 192, 0.2) 0px 4px 18px 0px;
}
.breadcrumb-item.active{
    font-size: 14px;
}
.main-container{
    position: relative;
    width: 100%;
    background-color: white;
    padding: 1rem;
    box-shadow: rgba(56, 107, 192, 0.3) 0px 8px 9px -4px, rgba(56, 107, 192, 0.2) 0px 4px 18px 0px;
}
.title{
    padding: 5px;
    border: 1px solid rgb(190, 190, 190);
}
.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: white;
    padding: 10px 15px;
    border: none;
    background-color: #443DF6;
    border-radius: 5px;
    box-shadow: rgba(56, 107, 192, 0.3) 0px 8px 9px -4px, rgba(56, 107, 192, 0.2) 0px 4px 18px 0px;
}
.image-body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
}

.modal-container {
    max-width: 400px;
    width: 100%;
    background: #fff;
    border-radius: 30px;
}

.img-area {
    position: relative;
    width: 100%;
    height: 240px;
    background: #f2f2f2;
    margin-bottom: 30px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.btn{
    border-radius: 0px;
}
.table-container th, .table-container td {
    padding: 0.8rem;
}

.img-area .icon {
    font-size: 100px;
}

.img-area h3 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 6px;
}

.img-area p {
    color: #999;
}

.img-area p span {
    font-weight: 600;
}

.img-area img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: 100;
}

.img-area::before {
    content: attr(data-img);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    color: #fff;
    font-weight: 500;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    opacity: 0;
    transition: all .3s ease;
    z-index: 200;
}

.img-area.active:hover::before {
    opacity: 1;
}

.select-image {
    display: block;
    width: 100%;
    padding: 5px 10px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    transition: all .3s ease;
    border-radius: 0px;
    background-color: #6D4C41;
    color: white;
    font-weight: 200;
    box-shadow: rgba(56, 107, 192, 0.3) 0px 8px 9px -4px, rgba(56, 107, 192, 0.2) 0px 4px 18px 0px;
}

.publish-btn{
    padding: 10px 10px;
    background-color: #6D4C41;
    box-shadow: rgba(56, 107, 192, 0.3) 0px 8px 9px -4px, rgba(56, 107, 192, 0.2) 0px 4px 18px 0px;
    color: white;
    border: none;
}